body{
	background-color: #FDFDFD;
}
.secure {
	display: none;
}
#moreOptions{
	 display:none;
}
.checkboxline
{
	display:block;
	margin-bottom: 10px;
}
*[data-require] {
	display:none;
}
#container{
	
	padding : 10px;
	background-color: white;
}
input.givelink {
	border : 0px solid black;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height : 14px;
	outline: none;
	padding:1px;
}